@page "/"

@using ConsentPortal.Data

@inject ConsentService service
@inject CustomAuthStateProvider AuthenticationStateProvider

<br />
<br />

<div class="row" style="text-align:center;">

    <div class="col-md-4 mb-3">

    </div>

    <div class="col-md-4 mb-3" style="display:inline-block">
        <EditForm Model="@model" OnValidSubmit="@Check">
            <div>
                <p>
                    <MatTextField @bind-Value="@model.Email" Label="Email" FullWidth="true"></MatTextField>
                </p>

                <p>
                    <MatTextField @bind-Value="@model.Password" Label="Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
                </p>

                <MatButton Unelevated="true" Type="Submit">Log In</MatButton>

            </div>
        </EditForm>
    </div>

    <div class="col-md-4 mb-3">

    </div>
</div>




@code{
    LoginModel model = new LoginModel();

    void Check()
    {
        var result = service.Authenticate("Wemabank", model.Email, model.Password);

        if (result)
        {

        }
        else
        {

        }
    }
}
