@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4" style="background-color:purple">
        <a href="" target="_blank">
            <img src="logo.svg" />
        </a>
        <h3 style="color:white"> DATA PROTECTION CONSENT PORTAL</h3>

        <a href="" target="_blank">
           <LoginDisplay />
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
